#index {

  &.site-page {
    padding: 0;
  }

  .form {
    padding: 40px 80px;

    &-item {
      display: flex;
      width: 60%;
      align-items: center;
      margin-bottom: 24px;

      &.submit {
        padding-left: 125px;
      }

      .label {
        flex-grow: 0;
        flex-shrink: 0;
        width: 110px;
        text-align: right;
      }
      .input {
        flex-grow: 1;
        flex-shrink: 1;
        margin-left: 15px;

        .ant-select {
          width: 100%;
        }
      }
    }
  }
}

.user-medium-modal {
  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
  }

  img {
    width: 100%;
  }

  .step {
    font-weight: 600;
  }
}


@media screen and (max-width: 600px) {
  @import './style.m.scss';
}
